<img src="logo.png">

# siuba.dply.vector

``siuba.dply.vector`` se trata de una familia de funciones auxiliares que complementan a los verbos de siuba que hemos estudiado. Se trata de funciones que se aplican a series, y por lo tanto a columnas de dataframes. En https://siuba.org/api/dply.vector puedes ver la documentación completa.

In [1]:
import numpy as np
import pandas as pd
from siuba import *
from siuba.dply.vector import *

Tomemos el siguiente dataframe **ventas.csv** de nuestro repositorio:

In [3]:
ventas = pd.read_csv("C:\\Users\\Usuario\\Documents\\scidata\\24_cdd_py\\practicas\\ventas\\ventas.csv",
                    encoding="utf8")
ventas

   region producto  mes  ventas
0   norte        A    1   165.0
1   norte        B    1   165.0
2   norte        C    1   195.0
3   norte        A    2     NaN
4   norte        B    2   240.0
..    ...      ...  ...     ...
67    sur        B   11   160.0
68    sur        C   11   170.0
69    sur        A   12   125.0
70    sur        B   12   235.0
71    sur        C   12   225.0

[72 rows x 4 columns]

In [4]:
pd.set_option('display.max_rows', None)
ventas #region: norte, sur; productos: A, B, C; meses: 1-12

   region producto  mes  ventas
0   norte        A    1   165.0
1   norte        B    1   165.0
2   norte        C    1   195.0
3   norte        A    2     NaN
4   norte        B    2   240.0
5   norte        C    2   175.0
6   norte        A    3     NaN
7   norte        B    3   205.0
8   norte        C    3   240.0
9   norte        A    4   225.0
10  norte        B    4   130.0
11  norte        C    4   190.0
12  norte        A    5   195.0
13  norte        B    5   245.0
14  norte        C    5   235.0
15  norte        A    6   145.0
16  norte        B    6   140.0
17  norte        C    6   210.0
18  norte        A    7   190.0
19  norte        B    7   120.0
20  norte        C    7   175.0
21  norte        A    8   125.0
22  norte        B    8   160.0
23  norte        C    8   140.0
24  norte        A    9   250.0
25  norte        B    9   145.0
26  norte        C    9   195.0
27  norte        A   10     NaN
28  norte        B   10   225.0
29  norte        C   10     NaN
30  norte        A   11   125.0
31  norte        B   11   165.0
32  norte        C   11   175.0
33  norte        A   12   225.0
34  norte        B   12   200.0
35  norte        C   12   135.0
36    sur        A    1   250.0
37    sur        B    1   240.0
38    sur        C    1   240.0
39    sur        A    2   190.0
40    sur        B    2   150.0
41    sur        C    2   120.0
42    sur        A    3   130.0
43    sur        B    3   230.0
44    sur        C    3   235.0
45    sur        A    4   140.0
46    sur        B    4   195.0
47    sur        C    4   230.0
48    sur        A    5   155.0
49    sur        B    5   175.0
50    sur        C    5   180.0
51    sur        A    6   155.0
52    sur        B    6   165.0
53    sur        C    6   220.0
54    sur        A    7   150.0
55    sur        B    7   125.0
56    sur        C    7   205.0
57    sur        A    8   205.0
58    sur        B    8     NaN
59    sur        C    8   210.0
60    sur        A    9   130.0
61    sur        B    9   175.0
62    sur        C    9   250.0
63    sur        A   10     NaN
64    sur        B   10   150.0
65    sur        C   10   215.0
66    sur        A   11   135.0
67    sur        B   11   160.0
68    sur        C   11   170.0
69    sur        A   12   125.0
70    sur        B   12   235.0
71    sur        C   12   225.0

In [5]:
ventas.columns

Index(['region', 'producto', 'mes', 'ventas'], dtype='object')

In [21]:
#`between`: Seleccionar filas donde ventas están entre 200 y 230
### El between(a,b) significa valores >= a y <= b

# ventas >> filter(_.ventas >= 200, _.ventas <= 230) es el intervalo [200,230]

ventas >> filter(_.ventas.between(200,230))  ### es el intervalo [200,230]

# es diferente de hacer ventas >> filter(_.ventas > 200, _.ventas < 230) este es intervalo abierto (200,230)

   region producto  mes  ventas
7   norte        B    3   205.0
9   norte        A    4   225.0
17  norte        C    6   210.0
28  norte        B   10   225.0
33  norte        A   12   225.0
34  norte        B   12   200.0
43    sur        B    3   230.0
47    sur        C    4   230.0
53    sur        C    6   220.0
56    sur        C    7   205.0
57    sur        A    8   205.0
59    sur        C    8   210.0
65    sur        C   10   215.0
71    sur        C   12   225.0

In [24]:
#`cumall`: Indicar si todas las ventas hasta la fila actual son mayores a 150

##### da True cuando se cumple la condición para el renglón actual Y TODOS LOS RENGLONES ANTERIORES

ventas >> mutate(salida = cumall(_.ventas==150))

   region producto  mes  ventas  salida
0   norte        A    1   165.0   False
1   norte        B    1   165.0   False
2   norte        C    1   195.0   False
3   norte        A    2     NaN   False
4   norte        B    2   240.0   False
5   norte        C    2   175.0   False
6   norte        A    3     NaN   False
7   norte        B    3   205.0   False
8   norte        C    3   240.0   False
9   norte        A    4   225.0   False
10  norte        B    4   130.0   False
11  norte        C    4   190.0   False
12  norte        A    5   195.0   False
13  norte        B    5   245.0   False
14  norte        C    5   235.0   False
15  norte        A    6   145.0   False
16  norte        B    6   140.0   False
17  norte        C    6   210.0   False
18  norte        A    7   190.0   False
19  norte        B    7   120.0   False
20  norte        C    7   175.0   False
21  norte        A    8   125.0   False
22  norte        B    8   160.0   False
23  norte        C    8   140.0   False
24  norte        A    9   250.0   False
25  norte        B    9   145.0   False
26  norte        C    9   195.0   False
27  norte        A   10     NaN   False
28  norte        B   10   225.0   False
29  norte        C   10     NaN   False
30  norte        A   11   125.0   False
31  norte        B   11   165.0   False
32  norte        C   11   175.0   False
33  norte        A   12   225.0   False
34  norte        B   12   200.0   False
35  norte        C   12   135.0   False
36    sur        A    1   250.0   False
37    sur        B    1   240.0   False
38    sur        C    1   240.0   False
39    sur        A    2   190.0   False
40    sur        B    2   150.0   False
41    sur        C    2   120.0   False
42    sur        A    3   130.0   False
43    sur        B    3   230.0   False
44    sur        C    3   235.0   False
45    sur        A    4   140.0   False
46    sur        B    4   195.0   False
47    sur        C    4   230.0   False
48    sur        A    5   155.0   False
49    sur        B    5   175.0   False
50    sur        C    5   180.0   False
51    sur        A    6   155.0   False
52    sur        B    6   165.0   False
53    sur        C    6   220.0   False
54    sur        A    7   150.0   False
55    sur        B    7   125.0   False
56    sur        C    7   205.0   False
57    sur        A    8   205.0   False
58    sur        B    8     NaN   False
59    sur        C    8   210.0   False
60    sur        A    9   130.0   False
61    sur        B    9   175.0   False
62    sur        C    9   250.0   False
63    sur        A   10     NaN   False
64    sur        B   10   150.0   False
65    sur        C   10   215.0   False
66    sur        A   11   135.0   False
67    sur        B   11   160.0   False
68    sur        C   11   170.0   False
69    sur        A   12   125.0   False
70    sur        B   12   235.0   False
71    sur        C   12   225.0   False

In [27]:
#`cumany`: Indicar si alguna venta hasta la fila actual es mayor a 205
ventas >> mutate(salida = cumany(_.ventas>=205))

   region producto  mes  ventas  salida
0   norte        A    1   165.0    True
1   norte        B    1   165.0    True
2   norte        C    1   195.0    True
3   norte        A    2     NaN    True
4   norte        B    2   240.0    True
5   norte        C    2   175.0    True
6   norte        A    3     NaN    True
7   norte        B    3   205.0    True
8   norte        C    3   240.0    True
9   norte        A    4   225.0    True
10  norte        B    4   130.0    True
11  norte        C    4   190.0    True
12  norte        A    5   195.0    True
13  norte        B    5   245.0    True
14  norte        C    5   235.0    True
15  norte        A    6   145.0    True
16  norte        B    6   140.0    True
17  norte        C    6   210.0    True
18  norte        A    7   190.0    True
19  norte        B    7   120.0    True
20  norte        C    7   175.0    True
21  norte        A    8   125.0    True
22  norte        B    8   160.0    True
23  norte        C    8   140.0    True
24  norte        A    9   250.0    True
25  norte        B    9   145.0    True
26  norte        C    9   195.0    True
27  norte        A   10     NaN    True
28  norte        B   10   225.0    True
29  norte        C   10     NaN    True
30  norte        A   11   125.0    True
31  norte        B   11   165.0    True
32  norte        C   11   175.0    True
33  norte        A   12   225.0    True
34  norte        B   12   200.0    True
35  norte        C   12   135.0    True
36    sur        A    1   250.0    True
37    sur        B    1   240.0    True
38    sur        C    1   240.0    True
39    sur        A    2   190.0    True
40    sur        B    2   150.0    True
41    sur        C    2   120.0    True
42    sur        A    3   130.0    True
43    sur        B    3   230.0    True
44    sur        C    3   235.0    True
45    sur        A    4   140.0    True
46    sur        B    4   195.0    True
47    sur        C    4   230.0    True
48    sur        A    5   155.0    True
49    sur        B    5   175.0    True
50    sur        C    5   180.0    True
51    sur        A    6   155.0    True
52    sur        B    6   165.0    True
53    sur        C    6   220.0    True
54    sur        A    7   150.0    True
55    sur        B    7   125.0    True
56    sur        C    7   205.0    True
57    sur        A    8   205.0    True
58    sur        B    8     NaN    True
59    sur        C    8   210.0    True
60    sur        A    9   130.0    True
61    sur        B    9   175.0    True
62    sur        C    9   250.0    True
63    sur        A   10     NaN    True
64    sur        B   10   150.0    True
65    sur        C   10   215.0    True
66    sur        A   11   135.0    True
67    sur        B   11   160.0    True
68    sur        C   11   170.0    True
69    sur        A   12   125.0    True
70    sur        B   12   235.0    True
71    sur        C   12   225.0    True

In [29]:
## Calcular las ventas acumuladas 
ventas >> mutate(ventas_acumuladas =  np.nancumsum(_.ventas))

   region producto  mes  ventas  ventas_acumuladas
0   norte        A    1   165.0              165.0
1   norte        B    1   165.0              330.0
2   norte        C    1   195.0              525.0
3   norte        A    2     NaN              525.0
4   norte        B    2   240.0              765.0
5   norte        C    2   175.0              940.0
6   norte        A    3     NaN              940.0
7   norte        B    3   205.0             1145.0
8   norte        C    3   240.0             1385.0
9   norte        A    4   225.0             1610.0
10  norte        B    4   130.0             1740.0
11  norte        C    4   190.0             1930.0
12  norte        A    5   195.0             2125.0
13  norte        B    5   245.0             2370.0
14  norte        C    5   235.0             2605.0
15  norte        A    6   145.0             2750.0
16  norte        B    6   140.0             2890.0
17  norte        C    6   210.0             3100.0
18  norte        A    7   190.0             3290.0
19  norte        B    7   120.0             3410.0
20  norte        C    7   175.0             3585.0
21  norte        A    8   125.0             3710.0
22  norte        B    8   160.0             3870.0
23  norte        C    8   140.0             4010.0
24  norte        A    9   250.0             4260.0
25  norte        B    9   145.0             4405.0
26  norte        C    9   195.0             4600.0
27  norte        A   10     NaN             4600.0
28  norte        B   10   225.0             4825.0
29  norte        C   10     NaN             4825.0
30  norte        A   11   125.0             4950.0
31  norte        B   11   165.0             5115.0
32  norte        C   11   175.0             5290.0
33  norte        A   12   225.0             5515.0
34  norte        B   12   200.0             5715.0
35  norte        C   12   135.0             5850.0
36    sur        A    1   250.0             6100.0
37    sur        B    1   240.0             6340.0
38    sur        C    1   240.0             6580.0
39    sur        A    2   190.0             6770.0
40    sur        B    2   150.0             6920.0
41    sur        C    2   120.0             7040.0
42    sur        A    3   130.0             7170.0
43    sur        B    3   230.0             7400.0
44    sur        C    3   235.0             7635.0
45    sur        A    4   140.0             7775.0
46    sur        B    4   195.0             7970.0
47    sur        C    4   230.0             8200.0
48    sur        A    5   155.0             8355.0
49    sur        B    5   175.0             8530.0
50    sur        C    5   180.0             8710.0
51    sur        A    6   155.0             8865.0
52    sur        B    6   165.0             9030.0
53    sur        C    6   220.0             9250.0
54    sur        A    7   150.0             9400.0
55    sur        B    7   125.0             9525.0
56    sur        C    7   205.0             9730.0
57    sur        A    8   205.0             9935.0
58    sur        B    8     NaN             9935.0
59    sur        C    8   210.0            10145.0
60    sur        A    9   130.0            10275.0
61    sur        B    9   175.0            10450.0
62    sur        C    9   250.0            10700.0
63    sur        A   10     NaN            10700.0
64    sur        B   10   150.0            10850.0
65    sur        C   10   215.0            11065.0
66    sur        A   11   135.0            11200.0
67    sur        B   11   160.0            11360.0
68    sur        C   11   170.0            11530.0
69    sur        A   12   125.0            11655.0
70    sur        B   12   235.0            11890.0
71    sur        C   12   225.0            12115.0

In [51]:
## Calcular las ventas acumuladas por cada región mensualmente

(
ventas >> group_by(_.region,_.mes) >> 
    summarize(total_mes = _.ventas.sum()) >> 
    group_by(_.region) >> 
    mutate(total_acum = np.nancumsum(_.total_mes))
)

(grouped data frame)
   region  mes  total_mes  total_acum
0   norte    1      525.0       525.0
1   norte    2      415.0       940.0
2   norte    3      445.0      1385.0
3   norte    4      545.0      1930.0
4   norte    5      675.0      2605.0
5   norte    6      495.0      3100.0
6   norte    7      485.0      3585.0
7   norte    8      425.0      4010.0
8   norte    9      590.0      4600.0
9   norte   10      225.0      4825.0
10  norte   11      465.0      5290.0
11  norte   12      560.0      5850.0
12    sur    1      730.0       730.0
13    sur    2      460.0      1190.0
14    sur    3      595.0      1785.0
15    sur    4      565.0      2350.0
16    sur    5      510.0      2860.0
17    sur    6      540.0      3400.0
18    sur    7      480.0      3880.0
19    sur    8      415.0      4295.0
20    sur    9      555.0      4850.0
21    sur   10      365.0      5215.0
22    sur   11      465.0      5680.0
23    sur   12      585.0      6265.0

In [39]:
# `dense_rank`: Calcular el rango denso de ventas
ventas >> mutate(resultado = dense_rank(_.ventas))

   region producto  mes  ventas  resultado
0   norte        A    1   165.0       10.0
1   norte        B    1   165.0       10.0
2   norte        C    1   195.0       15.0
3   norte        A    2     NaN        NaN
4   norte        B    2   240.0       24.0
5   norte        C    2   175.0       12.0
6   norte        A    3     NaN        NaN
7   norte        B    3   205.0       17.0
8   norte        C    3   240.0       24.0
9   norte        A    4   225.0       21.0
10  norte        B    4   130.0        3.0
11  norte        C    4   190.0       14.0
12  norte        A    5   195.0       15.0
13  norte        B    5   245.0       25.0
14  norte        C    5   235.0       23.0
15  norte        A    6   145.0        6.0
16  norte        B    6   140.0        5.0
17  norte        C    6   210.0       18.0
18  norte        A    7   190.0       14.0
19  norte        B    7   120.0        1.0
20  norte        C    7   175.0       12.0
21  norte        A    8   125.0        2.0
22  norte        B    8   160.0        9.0
23  norte        C    8   140.0        5.0
24  norte        A    9   250.0       26.0
25  norte        B    9   145.0        6.0
26  norte        C    9   195.0       15.0
27  norte        A   10     NaN        NaN
28  norte        B   10   225.0       21.0
29  norte        C   10     NaN        NaN
30  norte        A   11   125.0        2.0
31  norte        B   11   165.0       10.0
32  norte        C   11   175.0       12.0
33  norte        A   12   225.0       21.0
34  norte        B   12   200.0       16.0
35  norte        C   12   135.0        4.0
36    sur        A    1   250.0       26.0
37    sur        B    1   240.0       24.0
38    sur        C    1   240.0       24.0
39    sur        A    2   190.0       14.0
40    sur        B    2   150.0        7.0
41    sur        C    2   120.0        1.0
42    sur        A    3   130.0        3.0
43    sur        B    3   230.0       22.0
44    sur        C    3   235.0       23.0
45    sur        A    4   140.0        5.0
46    sur        B    4   195.0       15.0
47    sur        C    4   230.0       22.0
48    sur        A    5   155.0        8.0
49    sur        B    5   175.0       12.0
50    sur        C    5   180.0       13.0
51    sur        A    6   155.0        8.0
52    sur        B    6   165.0       10.0
53    sur        C    6   220.0       20.0
54    sur        A    7   150.0        7.0
55    sur        B    7   125.0        2.0
56    sur        C    7   205.0       17.0
57    sur        A    8   205.0       17.0
58    sur        B    8     NaN        NaN
59    sur        C    8   210.0       18.0
60    sur        A    9   130.0        3.0
61    sur        B    9   175.0       12.0
62    sur        C    9   250.0       26.0
63    sur        A   10     NaN        NaN
64    sur        B   10   150.0        7.0
65    sur        C   10   215.0       19.0
66    sur        A   11   135.0        4.0
67    sur        B   11   160.0        9.0
68    sur        C   11   170.0       11.0
69    sur        A   12   125.0        2.0
70    sur        B   12   235.0       23.0
71    sur        C   12   225.0       21.0

In [42]:
ventas >> mutate(resultado = dense_rank(-_.ventas)) >> arrange(_.ventas)

   region producto  mes  ventas  resultado
19  norte        B    7   120.0       26.0
41    sur        C    2   120.0       26.0
21  norte        A    8   125.0       25.0
30  norte        A   11   125.0       25.0
55    sur        B    7   125.0       25.0
69    sur        A   12   125.0       25.0
10  norte        B    4   130.0       24.0
42    sur        A    3   130.0       24.0
60    sur        A    9   130.0       24.0
35  norte        C   12   135.0       23.0
66    sur        A   11   135.0       23.0
16  norte        B    6   140.0       22.0
23  norte        C    8   140.0       22.0
45    sur        A    4   140.0       22.0
15  norte        A    6   145.0       21.0
25  norte        B    9   145.0       21.0
40    sur        B    2   150.0       20.0
54    sur        A    7   150.0       20.0
64    sur        B   10   150.0       20.0
48    sur        A    5   155.0       19.0
51    sur        A    6   155.0       19.0
22  norte        B    8   160.0       18.0
67    sur        B   11   160.0       18.0
0   norte        A    1   165.0       17.0
1   norte        B    1   165.0       17.0
31  norte        B   11   165.0       17.0
52    sur        B    6   165.0       17.0
68    sur        C   11   170.0       16.0
5   norte        C    2   175.0       15.0
20  norte        C    7   175.0       15.0
32  norte        C   11   175.0       15.0
49    sur        B    5   175.0       15.0
61    sur        B    9   175.0       15.0
50    sur        C    5   180.0       14.0
11  norte        C    4   190.0       13.0
18  norte        A    7   190.0       13.0
39    sur        A    2   190.0       13.0
2   norte        C    1   195.0       12.0
12  norte        A    5   195.0       12.0
26  norte        C    9   195.0       12.0
46    sur        B    4   195.0       12.0
34  norte        B   12   200.0       11.0
7   norte        B    3   205.0       10.0
56    sur        C    7   205.0       10.0
57    sur        A    8   205.0       10.0
17  norte        C    6   210.0        9.0
59    sur        C    8   210.0        9.0
65    sur        C   10   215.0        8.0
53    sur        C    6   220.0        7.0
9   norte        A    4   225.0        6.0
28  norte        B   10   225.0        6.0
33  norte        A   12   225.0        6.0
71    sur        C   12   225.0        6.0
43    sur        B    3   230.0        5.0
47    sur        C    4   230.0        5.0
14  norte        C    5   235.0        4.0
44    sur        C    3   235.0        4.0
70    sur        B   12   235.0        4.0
4   norte        B    2   240.0        3.0
8   norte        C    3   240.0        3.0
37    sur        B    1   240.0        3.0
38    sur        C    1   240.0        3.0
13  norte        B    5   245.0        2.0
24  norte        A    9   250.0        1.0
36    sur        A    1   250.0        1.0
62    sur        C    9   250.0        1.0
3   norte        A    2     NaN        NaN
6   norte        A    3     NaN        NaN
27  norte        A   10     NaN        NaN
29  norte        C   10     NaN        NaN
58    sur        B    8     NaN        NaN
63    sur        A   10     NaN        NaN

In [44]:
ventas

   region producto  mes  ventas
0   norte        A    1   165.0
1   norte        B    1   165.0
2   norte        C    1   195.0
3   norte        A    2     NaN
4   norte        B    2   240.0
5   norte        C    2   175.0
6   norte        A    3     NaN
7   norte        B    3   205.0
8   norte        C    3   240.0
9   norte        A    4   225.0
10  norte        B    4   130.0
11  norte        C    4   190.0
12  norte        A    5   195.0
13  norte        B    5   245.0
14  norte        C    5   235.0
15  norte        A    6   145.0
16  norte        B    6   140.0
17  norte        C    6   210.0
18  norte        A    7   190.0
19  norte        B    7   120.0
20  norte        C    7   175.0
21  norte        A    8   125.0
22  norte        B    8   160.0
23  norte        C    8   140.0
24  norte        A    9   250.0
25  norte        B    9   145.0
26  norte        C    9   195.0
27  norte        A   10     NaN
28  norte        B   10   225.0
29  norte        C   10     NaN
30  norte        A   11   125.0
31  norte        B   11   165.0
32  norte        C   11   175.0
33  norte        A   12   225.0
34  norte        B   12   200.0
35  norte        C   12   135.0
36    sur        A    1   250.0
37    sur        B    1   240.0
38    sur        C    1   240.0
39    sur        A    2   190.0
40    sur        B    2   150.0
41    sur        C    2   120.0
42    sur        A    3   130.0
43    sur        B    3   230.0
44    sur        C    3   235.0
45    sur        A    4   140.0
46    sur        B    4   195.0
47    sur        C    4   230.0
48    sur        A    5   155.0
49    sur        B    5   175.0
50    sur        C    5   180.0
51    sur        A    6   155.0
52    sur        B    6   165.0
53    sur        C    6   220.0
54    sur        A    7   150.0
55    sur        B    7   125.0
56    sur        C    7   205.0
57    sur        A    8   205.0
58    sur        B    8     NaN
59    sur        C    8   210.0
60    sur        A    9   130.0
61    sur        B    9   175.0
62    sur        C    9   250.0
63    sur        A   10     NaN
64    sur        B   10   150.0
65    sur        C   10   215.0
66    sur        A   11   135.0
67    sur        B   11   160.0
68    sur        C   11   170.0
69    sur        A   12   125.0
70    sur        B   12   235.0
71    sur        C   12   225.0

In [48]:
# `first`: Obtener el primer valor de ventas de cada región

ventas >> group_by(_.region) >> summarize(resultado = first(_.ventas))

  region  resultado
0  norte      165.0
1    sur      250.0

In [49]:
ventas >> filter(_.mes==1)

   region producto  mes  ventas
0   norte        A    1   165.0
1   norte        B    1   165.0
2   norte        C    1   195.0
36    sur        A    1   250.0
37    sur        B    1   240.0
38    sur        C    1   240.0

In [52]:
# `last`: Obtener el último valor de ventas

ventas >> group_by(_.region) >> summarize(resultado = last(_.ventas))

  region  resultado
0  norte      135.0
1    sur      225.0

In [53]:
ventas

   region producto  mes  ventas
0   norte        A    1   165.0
1   norte        B    1   165.0
2   norte        C    1   195.0
3   norte        A    2     NaN
4   norte        B    2   240.0
5   norte        C    2   175.0
6   norte        A    3     NaN
7   norte        B    3   205.0
8   norte        C    3   240.0
9   norte        A    4   225.0
10  norte        B    4   130.0
11  norte        C    4   190.0
12  norte        A    5   195.0
13  norte        B    5   245.0
14  norte        C    5   235.0
15  norte        A    6   145.0
16  norte        B    6   140.0
17  norte        C    6   210.0
18  norte        A    7   190.0
19  norte        B    7   120.0
20  norte        C    7   175.0
21  norte        A    8   125.0
22  norte        B    8   160.0
23  norte        C    8   140.0
24  norte        A    9   250.0
25  norte        B    9   145.0
26  norte        C    9   195.0
27  norte        A   10     NaN
28  norte        B   10   225.0
29  norte        C   10     NaN
30  norte        A   11   125.0
31  norte        B   11   165.0
32  norte        C   11   175.0
33  norte        A   12   225.0
34  norte        B   12   200.0
35  norte        C   12   135.0
36    sur        A    1   250.0
37    sur        B    1   240.0
38    sur        C    1   240.0
39    sur        A    2   190.0
40    sur        B    2   150.0
41    sur        C    2   120.0
42    sur        A    3   130.0
43    sur        B    3   230.0
44    sur        C    3   235.0
45    sur        A    4   140.0
46    sur        B    4   195.0
47    sur        C    4   230.0
48    sur        A    5   155.0
49    sur        B    5   175.0
50    sur        C    5   180.0
51    sur        A    6   155.0
52    sur        B    6   165.0
53    sur        C    6   220.0
54    sur        A    7   150.0
55    sur        B    7   125.0
56    sur        C    7   205.0
57    sur        A    8   205.0
58    sur        B    8     NaN
59    sur        C    8   210.0
60    sur        A    9   130.0
61    sur        B    9   175.0
62    sur        C    9   250.0
63    sur        A   10     NaN
64    sur        B   10   150.0
65    sur        C   10   215.0
66    sur        A   11   135.0
67    sur        B   11   160.0
68    sur        C   11   170.0
69    sur        A   12   125.0
70    sur        B   12   235.0
71    sur        C   12   225.0

In [68]:
# `lag`: Obtener la venta del período anterior
#ventas >> mutate(lag = lag(_.ventas), lag_ventas = _.ventas-_.lag)
(
ventas >> mutate(ventas_sinna = np.where(_.ventas.isna(),0,_.ventas),
                 lag = lag(_.ventas_sinna),
                 lag_sinna = np.where(_.lag.isna(),0,_.lag),
                 lag_ventas = _.ventas_sinna-_.lag_sinna) >>
          select(-_["ventas","lag"])
)

   region producto  mes  ventas_sinna  lag_sinna  lag_ventas
0   norte        A    1         165.0        0.0       165.0
1   norte        B    1         165.0      165.0         0.0
2   norte        C    1         195.0      165.0        30.0
3   norte        A    2           0.0      195.0      -195.0
4   norte        B    2         240.0        0.0       240.0
5   norte        C    2         175.0      240.0       -65.0
6   norte        A    3           0.0      175.0      -175.0
7   norte        B    3         205.0        0.0       205.0
8   norte        C    3         240.0      205.0        35.0
9   norte        A    4         225.0      240.0       -15.0
10  norte        B    4         130.0      225.0       -95.0
11  norte        C    4         190.0      130.0        60.0
12  norte        A    5         195.0      190.0         5.0
13  norte        B    5         245.0      195.0        50.0
14  norte        C    5         235.0      245.0       -10.0
15  norte        A    6         145.0      235.0       -90.0
16  norte        B    6         140.0      145.0        -5.0
17  norte        C    6         210.0      140.0        70.0
18  norte        A    7         190.0      210.0       -20.0
19  norte        B    7         120.0      190.0       -70.0
20  norte        C    7         175.0      120.0        55.0
21  norte        A    8         125.0      175.0       -50.0
22  norte        B    8         160.0      125.0        35.0
23  norte        C    8         140.0      160.0       -20.0
24  norte        A    9         250.0      140.0       110.0
25  norte        B    9         145.0      250.0      -105.0
26  norte        C    9         195.0      145.0        50.0
27  norte        A   10           0.0      195.0      -195.0
28  norte        B   10         225.0        0.0       225.0
29  norte        C   10           0.0      225.0      -225.0
30  norte        A   11         125.0        0.0       125.0
31  norte        B   11         165.0      125.0        40.0
32  norte        C   11         175.0      165.0        10.0
33  norte        A   12         225.0      175.0        50.0
34  norte        B   12         200.0      225.0       -25.0
35  norte        C   12         135.0      200.0       -65.0
36    sur        A    1         250.0      135.0       115.0
37    sur        B    1         240.0      250.0       -10.0
38    sur        C    1         240.0      240.0         0.0
39    sur        A    2         190.0      240.0       -50.0
40    sur        B    2         150.0      190.0       -40.0
41    sur        C    2         120.0      150.0       -30.0
42    sur        A    3         130.0      120.0        10.0
43    sur        B    3         230.0      130.0       100.0
44    sur        C    3         235.0      230.0         5.0
45    sur        A    4         140.0      235.0       -95.0
46    sur        B    4         195.0      140.0        55.0
47    sur        C    4         230.0      195.0        35.0
48    sur        A    5         155.0      230.0       -75.0
49    sur        B    5         175.0      155.0        20.0
50    sur        C    5         180.0      175.0         5.0
51    sur        A    6         155.0      180.0       -25.0
52    sur        B    6         165.0      155.0        10.0
53    sur        C    6         220.0      165.0        55.0
54    sur        A    7         150.0      220.0       -70.0
55    sur        B    7         125.0      150.0       -25.0
56    sur        C    7         205.0      125.0        80.0
57    sur        A    8         205.0      205.0         0.0
58    sur        B    8           0.0      205.0      -205.0
59    sur        C    8         210.0        0.0       210.0
60    sur        A    9         130.0      210.0       -80.0
61    sur        B    9         175.0      130.0        45.0
62    sur        C    9         250.0      175.0        75.0
63    sur        A   10           0.0      250.0      -250.0
64    sur        B   10         150.0        0.0       150.0
65    sur        C   10         215.0      150.0        65.0
66    sur        A   11         135.0      215.0       -80.0
67    sur        B   11         160.0      135.0        25.0
68    sur        C   11         170.0      160.0        10.0
69    sur        A   12         125.0      170.0       -45.0
70    sur        B   12         235.0      125.0       110.0
71    sur        C   12         225.0      235.0       -10.0

In [71]:
(
ventas >> group_by(_.region,_.mes) >> summarize(ventas_tot = _.ventas.sum()) >>
    group_by(_.region) >> 
    mutate(diferencia_ventas_mensuales = _.ventas_tot - lag(_.ventas_tot))
)

(grouped data frame)
   region  mes  ventas_tot  diferencia_ventas_mensuales
0   norte    1       525.0                          NaN
1   norte    2       415.0                       -110.0
2   norte    3       445.0                         30.0
3   norte    4       545.0                        100.0
4   norte    5       675.0                        130.0
5   norte    6       495.0                       -180.0
6   norte    7       485.0                        -10.0
7   norte    8       425.0                        -60.0
8   norte    9       590.0                        165.0
9   norte   10       225.0                       -365.0
10  norte   11       465.0                        240.0
11  norte   12       560.0                         95.0
12    sur    1       730.0                          NaN
13    sur    2       460.0                       -270.0
14    sur    3       595.0                        135.0
15    sur    4       565.0                        -30.0
16    sur    5       510.0                        -55.0
17    sur    6       540.0                         30.0
18    sur    7       480.0                        -60.0
19    sur    8       415.0                        -65.0
20    sur    9       555.0                        140.0
21    sur   10       365.0                       -190.0
22    sur   11       465.0                        100.0
23    sur   12       585.0                        120.0

In [77]:
(
ventas >> group_by(_.region) >> filter(_.producto == "A") >> 
    mutate(ventas_sinna = np.where(_.ventas.isna(),0,_.ventas),
        diferencia_ventas_mens = _.ventas_sinna-lag(_.ventas_sinna))
)

(grouped data frame)
   region producto  mes  ventas  ventas_sinna  diferencia_ventas_mens
0   norte        A    1   165.0         165.0                     NaN
3   norte        A    2     NaN           0.0                  -165.0
6   norte        A    3     NaN           0.0                     0.0
9   norte        A    4   225.0         225.0                   225.0
12  norte        A    5   195.0         195.0                   -30.0
15  norte        A    6   145.0         145.0                   -50.0
18  norte        A    7   190.0         190.0                    45.0
21  norte        A    8   125.0         125.0                   -65.0
24  norte        A    9   250.0         250.0                   125.0
27  norte        A   10     NaN           0.0                  -250.0
30  norte        A   11   125.0         125.0                   125.0
33  norte        A   12   225.0         225.0                   100.0
36    sur        A    1   250.0         250.0                     NaN
39    sur        A    2   190.0         190.0                   -60.0
42    sur        A    3   130.0         130.0                   -60.0
45    sur        A    4   140.0         140.0                    10.0
48    sur        A    5   155.0         155.0                    15.0
51    sur        A    6   155.0         155.0                     0.0
54    sur        A    7   150.0         150.0                    -5.0
57    sur        A    8   205.0         205.0                    55.0
60    sur        A    9   130.0         130.0                   -75.0
63    sur        A   10     NaN           0.0                  -130.0
66    sur        A   11   135.0         135.0                   135.0
69    sur        A   12   125.0         125.0                   -10.0

In [ ]:
(ventas >> 
    group_by(_.region,_.mes) >> 
    summarize(ventas_tot = _.ventas.sum()) >> 
    mutate(futuro = lag(_.ventas_tot),
           dif_futuro=_.ventas_tot-_.futuro)
)

In [ ]:
# `lead`: Obtener la venta del período siguiente

ventas >> mutate(lead_venta = _.ventas - lead(_.ventas))

In [ ]:
(ventas >> 
    group_by(_.region,_.mes) >> 
    summarize(ventas_tot = _.ventas.sum()) >> 
    mutate(futuro = lead(_.ventas_tot),
           dif=_.ventas_tot-_.futuro)
)

In [78]:
# `min_rank`: Calcular el rango mínimo de ventas
ventas >> mutate(min_rank_venta = min_rank(_.ventas))

   region producto  mes  ventas  min_rank_venta
0   norte        A    1   165.0            24.0
1   norte        B    1   165.0            24.0
2   norte        C    1   195.0            38.0
3   norte        A    2     NaN             NaN
4   norte        B    2   240.0            59.0
5   norte        C    2   175.0            29.0
6   norte        A    3     NaN             NaN
7   norte        B    3   205.0            43.0
8   norte        C    3   240.0            59.0
9   norte        A    4   225.0            50.0
10  norte        B    4   130.0             7.0
11  norte        C    4   190.0            35.0
12  norte        A    5   195.0            38.0
13  norte        B    5   245.0            63.0
14  norte        C    5   235.0            56.0
15  norte        A    6   145.0            15.0
16  norte        B    6   140.0            12.0
17  norte        C    6   210.0            46.0
18  norte        A    7   190.0            35.0
19  norte        B    7   120.0             1.0
20  norte        C    7   175.0            29.0
21  norte        A    8   125.0             3.0
22  norte        B    8   160.0            22.0
23  norte        C    8   140.0            12.0
24  norte        A    9   250.0            64.0
25  norte        B    9   145.0            15.0
26  norte        C    9   195.0            38.0
27  norte        A   10     NaN             NaN
28  norte        B   10   225.0            50.0
29  norte        C   10     NaN             NaN
30  norte        A   11   125.0             3.0
31  norte        B   11   165.0            24.0
32  norte        C   11   175.0            29.0
33  norte        A   12   225.0            50.0
34  norte        B   12   200.0            42.0
35  norte        C   12   135.0            10.0
36    sur        A    1   250.0            64.0
37    sur        B    1   240.0            59.0
38    sur        C    1   240.0            59.0
39    sur        A    2   190.0            35.0
40    sur        B    2   150.0            17.0
41    sur        C    2   120.0             1.0
42    sur        A    3   130.0             7.0
43    sur        B    3   230.0            54.0
44    sur        C    3   235.0            56.0
45    sur        A    4   140.0            12.0
46    sur        B    4   195.0            38.0
47    sur        C    4   230.0            54.0
48    sur        A    5   155.0            20.0
49    sur        B    5   175.0            29.0
50    sur        C    5   180.0            34.0
51    sur        A    6   155.0            20.0
52    sur        B    6   165.0            24.0
53    sur        C    6   220.0            49.0
54    sur        A    7   150.0            17.0
55    sur        B    7   125.0             3.0
56    sur        C    7   205.0            43.0
57    sur        A    8   205.0            43.0
58    sur        B    8     NaN             NaN
59    sur        C    8   210.0            46.0
60    sur        A    9   130.0             7.0
61    sur        B    9   175.0            29.0
62    sur        C    9   250.0            64.0
63    sur        A   10     NaN             NaN
64    sur        B   10   150.0            17.0
65    sur        C   10   215.0            48.0
66    sur        A   11   135.0            10.0
67    sur        B   11   160.0            22.0
68    sur        C   11   170.0            28.0
69    sur        A   12   125.0             3.0
70    sur        B   12   235.0            56.0
71    sur        C   12   225.0            50.0

In [79]:
ventas.shape

(72, 4)

In [83]:
# `n`: Obtener el número total de filas
ventas >> group_by(_.region) >> summarize(total_filas = n(_))

  region  total_filas
0  norte           36
1    sur           36

In [86]:
# `n_distinct`: Obtener el número de valores distintos en `producto`
#ventas >> summarize(num_distinct_productos = n_distinct(_.producto))
ventas >> n_distinct(_.producto)

3

In [87]:
ventas

   region producto  mes  ventas
0   norte        A    1   165.0
1   norte        B    1   165.0
2   norte        C    1   195.0
3   norte        A    2     NaN
4   norte        B    2   240.0
5   norte        C    2   175.0
6   norte        A    3     NaN
7   norte        B    3   205.0
8   norte        C    3   240.0
9   norte        A    4   225.0
10  norte        B    4   130.0
11  norte        C    4   190.0
12  norte        A    5   195.0
13  norte        B    5   245.0
14  norte        C    5   235.0
15  norte        A    6   145.0
16  norte        B    6   140.0
17  norte        C    6   210.0
18  norte        A    7   190.0
19  norte        B    7   120.0
20  norte        C    7   175.0
21  norte        A    8   125.0
22  norte        B    8   160.0
23  norte        C    8   140.0
24  norte        A    9   250.0
25  norte        B    9   145.0
26  norte        C    9   195.0
27  norte        A   10     NaN
28  norte        B   10   225.0
29  norte        C   10     NaN
30  norte        A   11   125.0
31  norte        B   11   165.0
32  norte        C   11   175.0
33  norte        A   12   225.0
34  norte        B   12   200.0
35  norte        C   12   135.0
36    sur        A    1   250.0
37    sur        B    1   240.0
38    sur        C    1   240.0
39    sur        A    2   190.0
40    sur        B    2   150.0
41    sur        C    2   120.0
42    sur        A    3   130.0
43    sur        B    3   230.0
44    sur        C    3   235.0
45    sur        A    4   140.0
46    sur        B    4   195.0
47    sur        C    4   230.0
48    sur        A    5   155.0
49    sur        B    5   175.0
50    sur        C    5   180.0
51    sur        A    6   155.0
52    sur        B    6   165.0
53    sur        C    6   220.0
54    sur        A    7   150.0
55    sur        B    7   125.0
56    sur        C    7   205.0
57    sur        A    8   205.0
58    sur        B    8     NaN
59    sur        C    8   210.0
60    sur        A    9   130.0
61    sur        B    9   175.0
62    sur        C    9   250.0
63    sur        A   10     NaN
64    sur        B   10   150.0
65    sur        C   10   215.0
66    sur        A   11   135.0
67    sur        B   11   160.0
68    sur        C   11   170.0
69    sur        A   12   125.0
70    sur        B   12   235.0
71    sur        C   12   225.0

In [88]:
# `na_if`: Reemplazar el valor 200 en `ventas` con NaN
ventas >> mutate(ventas_na_if = na_if(_.ventas, 205))

   region producto  mes  ventas  ventas_na_if
0   norte        A    1   165.0         165.0
1   norte        B    1   165.0         165.0
2   norte        C    1   195.0         195.0
3   norte        A    2     NaN           NaN
4   norte        B    2   240.0         240.0
5   norte        C    2   175.0         175.0
6   norte        A    3     NaN           NaN
7   norte        B    3   205.0           NaN
8   norte        C    3   240.0         240.0
9   norte        A    4   225.0         225.0
10  norte        B    4   130.0         130.0
11  norte        C    4   190.0         190.0
12  norte        A    5   195.0         195.0
13  norte        B    5   245.0         245.0
14  norte        C    5   235.0         235.0
15  norte        A    6   145.0         145.0
16  norte        B    6   140.0         140.0
17  norte        C    6   210.0         210.0
18  norte        A    7   190.0         190.0
19  norte        B    7   120.0         120.0
20  norte        C    7   175.0         175.0
21  norte        A    8   125.0         125.0
22  norte        B    8   160.0         160.0
23  norte        C    8   140.0         140.0
24  norte        A    9   250.0         250.0
25  norte        B    9   145.0         145.0
26  norte        C    9   195.0         195.0
27  norte        A   10     NaN           NaN
28  norte        B   10   225.0         225.0
29  norte        C   10     NaN           NaN
30  norte        A   11   125.0         125.0
31  norte        B   11   165.0         165.0
32  norte        C   11   175.0         175.0
33  norte        A   12   225.0         225.0
34  norte        B   12   200.0         200.0
35  norte        C   12   135.0         135.0
36    sur        A    1   250.0         250.0
37    sur        B    1   240.0         240.0
38    sur        C    1   240.0         240.0
39    sur        A    2   190.0         190.0
40    sur        B    2   150.0         150.0
41    sur        C    2   120.0         120.0
42    sur        A    3   130.0         130.0
43    sur        B    3   230.0         230.0
44    sur        C    3   235.0         235.0
45    sur        A    4   140.0         140.0
46    sur        B    4   195.0         195.0
47    sur        C    4   230.0         230.0
48    sur        A    5   155.0         155.0
49    sur        B    5   175.0         175.0
50    sur        C    5   180.0         180.0
51    sur        A    6   155.0         155.0
52    sur        B    6   165.0         165.0
53    sur        C    6   220.0         220.0
54    sur        A    7   150.0         150.0
55    sur        B    7   125.0         125.0
56    sur        C    7   205.0           NaN
57    sur        A    8   205.0           NaN
58    sur        B    8     NaN           NaN
59    sur        C    8   210.0         210.0
60    sur        A    9   130.0         130.0
61    sur        B    9   175.0         175.0
62    sur        C    9   250.0         250.0
63    sur        A   10     NaN           NaN
64    sur        B   10   150.0         150.0
65    sur        C   10   215.0         215.0
66    sur        A   11   135.0         135.0
67    sur        B   11   160.0         160.0
68    sur        C   11   170.0         170.0
69    sur        A   12   125.0         125.0
70    sur        B   12   235.0         235.0
71    sur        C   12   225.0         225.0

In [89]:
# `percent_rank`: Calcular el percentil de ventas
ventas  >> mutate(percent_rank_ventas = 100*percent_rank(_.ventas))

   region producto  mes  ventas  percent_rank_ventas
0   norte        A    1   165.0            35.384615
1   norte        B    1   165.0            35.384615
2   norte        C    1   195.0            56.923077
3   norte        A    2     NaN                  NaN
4   norte        B    2   240.0            89.230769
5   norte        C    2   175.0            43.076923
6   norte        A    3     NaN                  NaN
7   norte        B    3   205.0            64.615385
8   norte        C    3   240.0            89.230769
9   norte        A    4   225.0            75.384615
10  norte        B    4   130.0             9.230769
11  norte        C    4   190.0            52.307692
12  norte        A    5   195.0            56.923077
13  norte        B    5   245.0            95.384615
14  norte        C    5   235.0            84.615385
15  norte        A    6   145.0            21.538462
16  norte        B    6   140.0            16.923077
17  norte        C    6   210.0            69.230769
18  norte        A    7   190.0            52.307692
19  norte        B    7   120.0             0.000000
20  norte        C    7   175.0            43.076923
21  norte        A    8   125.0             3.076923
22  norte        B    8   160.0            32.307692
23  norte        C    8   140.0            16.923077
24  norte        A    9   250.0            96.923077
25  norte        B    9   145.0            21.538462
26  norte        C    9   195.0            56.923077
27  norte        A   10     NaN                  NaN
28  norte        B   10   225.0            75.384615
29  norte        C   10     NaN                  NaN
30  norte        A   11   125.0             3.076923
31  norte        B   11   165.0            35.384615
32  norte        C   11   175.0            43.076923
33  norte        A   12   225.0            75.384615
34  norte        B   12   200.0            63.076923
35  norte        C   12   135.0            13.846154
36    sur        A    1   250.0            96.923077
37    sur        B    1   240.0            89.230769
38    sur        C    1   240.0            89.230769
39    sur        A    2   190.0            52.307692
40    sur        B    2   150.0            24.615385
41    sur        C    2   120.0             0.000000
42    sur        A    3   130.0             9.230769
43    sur        B    3   230.0            81.538462
44    sur        C    3   235.0            84.615385
45    sur        A    4   140.0            16.923077
46    sur        B    4   195.0            56.923077
47    sur        C    4   230.0            81.538462
48    sur        A    5   155.0            29.230769
49    sur        B    5   175.0            43.076923
50    sur        C    5   180.0            50.769231
51    sur        A    6   155.0            29.230769
52    sur        B    6   165.0            35.384615
53    sur        C    6   220.0            73.846154
54    sur        A    7   150.0            24.615385
55    sur        B    7   125.0             3.076923
56    sur        C    7   205.0            64.615385
57    sur        A    8   205.0            64.615385
58    sur        B    8     NaN                  NaN
59    sur        C    8   210.0            69.230769
60    sur        A    9   130.0             9.230769
61    sur        B    9   175.0            43.076923
62    sur        C    9   250.0            96.923077
63    sur        A   10     NaN                  NaN
64    sur        B   10   150.0            24.615385
65    sur        C   10   215.0            72.307692
66    sur        A   11   135.0            13.846154
67    sur        B   11   160.0            32.307692
68    sur        C   11   170.0            41.538462
69    sur        A   12   125.0             3.076923
70    sur        B   12   235.0            84.615385
71    sur        C   12   225.0            75.384615

In [ ]:
np.percentile(,96.923077)

In [94]:
np.percentile(ventas >> filter(-_.ventas.isna()) >> select(_.ventas),43.0769)

174.99992500000002

In [95]:
# `row_number`: Asignar el número de fila a cada venta
ventas >> group_by(_.region) >> mutate(row_number_venta = row_number(_))

(grouped data frame)
   region producto  mes  ventas  row_number_venta
0   norte        A    1   165.0                 1
1   norte        B    1   165.0                 2
2   norte        C    1   195.0                 3
3   norte        A    2     NaN                 4
4   norte        B    2   240.0                 5
5   norte        C    2   175.0                 6
6   norte        A    3     NaN                 7
7   norte        B    3   205.0                 8
8   norte        C    3   240.0                 9
9   norte        A    4   225.0                10
10  norte        B    4   130.0                11
11  norte        C    4   190.0                12
12  norte        A    5   195.0                13
13  norte        B    5   245.0                14
14  norte        C    5   235.0                15
15  norte        A    6   145.0                16
16  norte        B    6   140.0                17
17  norte        C    6   210.0                18
18  norte        A    7   190.0                19
19  norte        B    7   120.0                20
20  norte        C    7   175.0                21
21  norte        A    8   125.0                22
22  norte        B    8   160.0                23
23  norte        C    8   140.0                24
24  norte        A    9   250.0                25
25  norte        B    9   145.0                26
26  norte        C    9   195.0                27
27  norte        A   10     NaN                28
28  norte        B   10   225.0                29
29  norte        C   10     NaN                30
30  norte        A   11   125.0                31
31  norte        B   11   165.0                32
32  norte        C   11   175.0                33
33  norte        A   12   225.0                34
34  norte        B   12   200.0                35
35  norte        C   12   135.0                36
36    sur        A    1   250.0                 1
37    sur        B    1   240.0                 2
38    sur        C    1   240.0                 3
39    sur        A    2   190.0                 4
40    sur        B    2   150.0                 5
41    sur        C    2   120.0                 6
42    sur        A    3   130.0                 7
43    sur        B    3   230.0                 8
44    sur        C    3   235.0                 9
45    sur        A    4   140.0                10
46    sur        B    4   195.0                11
47    sur        C    4   230.0                12
48    sur        A    5   155.0                13
49    sur        B    5   175.0                14
50    sur        C    5   180.0                15
51    sur        A    6   155.0                16
52    sur        B    6   165.0                17
53    sur        C    6   220.0                18
54    sur        A    7   150.0                19
55    sur        B    7   125.0                20
56    sur        C    7   205.0                21
57    sur        A    8   205.0                22
58    sur        B    8     NaN                23
59    sur        C    8   210.0                24
60    sur        A    9   130.0                25
61    sur        B    9   175.0                26
62    sur        C    9   250.0                27
63    sur        A   10     NaN                28
64    sur        B   10   150.0                29
65    sur        C   10   215.0                30
66    sur        A   11   135.0                31
67    sur        B   11   160.0                32
68    sur        C   11   170.0                33
69    sur        A   12   125.0                34
70    sur        B   12   235.0                35
71    sur        C   12   225.0                36

In [103]:
## Porcentaje de las ventas mensuales respecto del año

(
ventas >> group_by(_.region,_.mes) >> 
    summarize(ventas_mensuales = _.ventas.sum()) >> 
    group_by(_.region) >>
    mutate(perc_ventas = _.ventas_mensuales/_.ventas_mensuales.sum())
    )

(grouped data frame)
   region  mes  ventas_mensuales  perc_ventas
0   norte    1             525.0     0.089744
1   norte    2             415.0     0.070940
2   norte    3             445.0     0.076068
3   norte    4             545.0     0.093162
4   norte    5             675.0     0.115385
5   norte    6             495.0     0.084615
6   norte    7             485.0     0.082906
7   norte    8             425.0     0.072650
8   norte    9             590.0     0.100855
9   norte   10             225.0     0.038462
10  norte   11             465.0     0.079487
11  norte   12             560.0     0.095726
12    sur    1             730.0     0.116520
13    sur    2             460.0     0.073424
14    sur    3             595.0     0.094972
15    sur    4             565.0     0.090184
16    sur    5             510.0     0.081405
17    sur    6             540.0     0.086193
18    sur    7             480.0     0.076616
19    sur    8             415.0     0.066241
20    sur    9             555.0     0.088587
21    sur   10             365.0     0.058260
22    sur   11             465.0     0.074222
23    sur   12             585.0     0.093376

In [ ]:
ventas >>