<img src="logo.png">

In [ ]:
import pandas as pd
import numpy as np
from siuba import *
import os 

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

La siguiente tabla representa el número de medallas obtenidas en JJOO por Estados Uniddos, China y Gran Bretaña diseminados por sexo y año:

| país          | año | mujeres | hombres |
|---------------|-----|---------|---------|
| Estados Unidos| 2020| 66      | 47      |
| China         | 2020| 37      | 32      |
| Gran Bretaña  | 2020| 38      | 26      |
| Estados Unidos| 2016| 61      | 60      |
| China         | 2016| 26      | 18      |
| Gran Bretaña  | 2016| 27      | 23      |
| Estados Unidos| 2012| 58      | 46      |
| China         | 2012| 38      | 27      |
| Gran Bretaña  | 2012| 29      | 17      |
| Estados Unidos| 2008| 48      | 36      |
| China         | 2008| 34      | 38      |
| Gran Bretaña  | 2008| 25      | 19      |

Puedes encontrar dicha tabla en nuestro repositorio con el nombre de **medallero_olimpico_no_tidy.csv**

Supongamos que queremos conocer el total de medallas obtenidas por país y sexo en total.

```python

medallero_no_tidy = pd.read_csv("medallero_olimpico_no_tidy.csv",}
                                encoding="latin1")

(
medallero_no_tidy >> group_by(_.pais) >> 
    summarize(tot_mujeres = _.mujeres.sum(),tot_hombres = _.hombres.sum())
)

```

In [ ]:
medallero_no_tidy = pd.read_csv("C:\\Users\\Usuario\\Documents\\scidata\\24_cdd_py\\practicas\\medallero\\medallero_olimpico_no_tidy.csv",
                                encoding="latin1")

(
medallero_no_tidy >> group_by(_.pais) >> 
    summarize(medallas_mujeres = _.mujeres.sum(),
              medallas_hombres = _.hombres.sum())
)

Podemos notar que, aunque nuestro código es legible, puede ser incómodo. En este caso solo tenemos dos columnas *de clase* (hombres y mujeres), pero imagina una situación donde tienes más columnas, como la tabla siguiente, la cual se encuentra en nuestro repositorio con el nombre de **danios_no_tidy.csv**

| Año  | tipo daño    | Robo total de vehículo | Robo parcial de vehículo | Robo o asalto en calle o transporte público | Robo en casa habitación | Robo en forma distinta a las anteriores | Amenazas verbales | Extorsión | Fraude  | Lesiones | Otros delitos distintos a los anteriores |
|------|-------------|------------------------|--------------------------|---------------------------------------------|-------------------------|------------------------------------------|-------------------|-----------|---------|----------|------------------------------------------|
| 2012 | económicos  | 536873                 | 3136252                  | 5764847                                    | 1561407                 | 357792                                  | 132884            | 445615    | 2324637 | 62759    | 52222                                    |
| 2012 | físicos     | 3938                   | 11263                    | 286261                                     | 15805                   | 5058                                     | 227198            | 38067     | 2966    | 656995   | 31402                                    |
| 2012 | emocionales | 46685                  | 98576                    | 1443424                                    | 230594                  | 21561                                    | 1600918           | 2994108   | 81552   | 278066   | 591925                                   |
| 2012 | laborales   | 8019                   | 6118                     | 33449                                      | 5077                    | 2341                                     | 40982             | 32006     | 13858   | 4638     | 9915                                     |
| 2012 | ninguno     | 25616                  | 85071                    | 395231                                     | 278778                  | 10094                                    | 847578            | 2455529   | 198438  | 83722    | 130783                                   |
| 2013 | económicos  | 429087                 | 2548054                  | 4958303                                    | 1387684                 | 358541                                  | 108573            | 366003    | 1861224 | 39461    | 51996                                    |
| 2013 | físicos     | 5700                   | 15934                    | 400342                                     | 18863                   | 5583                                     | 263188            | 46491     | 3865    | 797033   | 38361                                    |
| 2013 | emocionales | 72418                  | 119503                   | 1910856                                    | 311974                  | 30690                                    | 2067627           | 3821427   | 131218  | 385577   | 868497                                   |
| 2013 | laborales   | 14047                  | 9444                     | 50179                                      | 6970                    | 3274                                     | 42716             | 38592     | 18354   | 6894     | 13720                                    |
| 2013 | ninguno     | 34795                  | 107333                   | 499304                                     | 368024                  | 11942                                    | 1122695           | 3136486   | 254484  | 107942   | 223642                                   |
| 2014 | económicos  | 423755                 | 2747844                  | 5032446                                    | 1554471                 | 297508                                  | 116997            | 368512    | 2002024 | 50321    | 44059                                    |
| 2014 | físicos     | 7245                   | 11959                    | 435573                                     | 17112                   | 3797                                     | 297462            | 52071     | 5589    | 830867   | 42138                                    |
| 2014 | emocionales | 87660                  | 146363                   | 2207882                                    | 322448                  | 32340                                    | 2504258           | 4426627   | 159825  | 508671   | 963382                                   |
| 2014 | laborales   | 14677                  | 8188                     | 52824                                      | 6083                    | 1711                                     | 47888             | 46224     | 15519   | 8483     | 12083                                    |
| 2014 | ninguno     | 41701                  | 138670                   | 540803                                     | 392622                  | 11916                                    | 1290871           | 3400135   | 278258  | 129145   | 248090                                   |
| 2015 | económicos  | 488623                 | 3337767                  | 5470710                                    | 1900055                 | 337754                                  | 113706            | 450312    | 2276987 | 72713    | 38912                                    |
| 2015 | físicos     | 6925                   | 17577                    | 479263                                     | 18426                   | 3435                                     | 348315            | 59406     | 5509    | 981784   | 43736                                    |
| 2015 | emocionales | 93154                  | 163579                   | 2470296                                    | 392209                  | 31571                                    | 2725778           | 4838605   | 191898  | 618542   | 1050344                                  |
| 2015 | laborales   | 14647                  | 10463                    | 59394                                      | 9370                    | 1597                                     | 53247             | 54163     | 22093   | 8987     | 14241                                    |
| 2015 | ninguno     | 39527                  | 168121                   | 605587                                     | 492492                  | 10954                                    | 1558572           | 3917845   | 329054  | 159424   | 284740                                   |
| 2016 | económicos  | 600701                 | 3993474                  | 5889252                                    | 2223442                 | 418802                                  | 131644            | 518544    | 2649180 | 91363    | 41396                                    |
| 2016 | físicos     | 7952                   | 20399                    | 553305                                     | 21343                   | 4937                                     | 433315            | 67431     | 6804    | 1120747  | 52955                                    |
| 2016 | emocionales | 112117                 | 208330                   | 2925824                                    | 492000                  | 46110                                    | 3337838           | 5594818   | 239802  | 764217   | 1176798                                  |
| 2016 | laborales   | 14150                  | 11700                    | 63968                                      | 9591                    | 2032                                     | 67623             | 66803     | 21771   | 12126    | 16402                                    |
| 2016 | ninguno     | 40946                  | 202237                   | 663109                                     | 558956                  | 12311                                    | 1804912           | 4324340   | 356935  | 180150   | 318970                                   |
| 2017 | económicos  | 764670                 | 4231182                  | 6801452                                    | 2771915                 | 550197                                  | 142653            | 642425    | 3382286 | 126205   | 41369                                    |
| 2017 | físicos     | 13129                  | 27958                    | 673073                                     | 24528                   | 5912                                     | 480993            | 85688     | 9732    | 1342872  | 55157                                    |
| 2017 | emocionales | 138336                 | 257063                   | 3651040                                    | 650916                  | 66177                                    | 3999005           | 6980797   | 322193  | 950799   | 1389445                                  |
| 2017 | laborales   | 15600                  | 17409                    | 91571                                      | 10904                   | 2765                                     | 79611             | 93702     | 27812   | 12061    | 20710                                    |
| 2017 | ninguno     | 46124                  | 232052                   | 852116                                     | 651764                  | 15166                                    | 1947611           | 5248676   | 449108  | 213413   | 386603                                   |
| 2018 | económicos  | 927250                 | 4293735                  | 6959879                                    | 3152497                 | 642367                                  | 167603            | 658633    | 3778123 | 133037   | 49835                                    |
| 2018 | físicos     | 13128                  | 23893                    | 658370                                     | 23109                   | 5510                                     | 497832            | 85354     | 9397    | 1383300  | 52816                                    |
| 2018 | emocionales | 138367                 | 250175                   | 3579205                                    | 682041                  | 74529                                    | 4205891           | 6936926   | 329165  | 982020   | 1353018                                  |
| 2018 | laborales   | 18557                  | 14559                    | 82147                                      | 13537                   | 3132                                     | 90292             | 94890     | 28225   | 11617    | 20378                                    |
| 2018 | ninguno     | 53277                  | 257073                   | 896244                                     | 725597                  | 18454                                    | 2270317           | 5567430   | 489260  | 242683   | 436088                                   |
| 2019 | económicos  | 1054784                | 4725424                  | 7904251                                    | 3438084                 | 769798                                  | 196056            | 719406    | 4127083 | 152202   | 54170                                    |
| 2019 | físicos     | 15669                  | 32455                    | 757971                                     | 30303                   | 5925                                     | 553174            | 98191     | 11806   | 1477216  | 57322                                    |
| 2019 | emocionales | 158865                 | 296211                   | 4271726                                    | 769020                  | 84911                                    | 4670606           | 7585692   | 376224  | 1080585  | 1490632                                  |
| 2019 | laborales   | 19793                  | 17913                    | 104021                                     | 15828                   | 3073                                     | 107460            | 118455    | 32359   | 12419    | 23615                                    |
| 2019 | ninguno     | 61796                  | 291486                   | 1026535                                    | 815445                  | 16836                                    | 2444534           | 6017582   | 564338  | 264779   | 475398                                   |
| 2020 | económicos  | 759576                 | 3162751                  | 6033612                                    | 2180091                 | 514888                                  | 137040            | 498470    | 3090792 | 106042   | 37688                                    |
| 2020 | físicos     | 13167                  | 23188                    | 531356                                     | 25972                   | 4834                                     | 411960            | 79479     | 9158    | 1070545  | 51761                                    |
| 2020 | emocionales | 123973                 | 211051                   | 3428746                                    | 573858                  | 62543                                    | 3627942           | 5836046   | 296675  | 842286   | 1237685                                  |
| 2020 | laborales   | 15902                  | 10110                    | 67445                                      | 11138                   | 2401                                     | 71961             | 65479     | 22168   | 9948     | 18612                                    |
| 2020 | ninguno     | 46601                  | 185347                   | 676495                                     | 552688                  | 12804                                    | 1902321           | 4779611   | 399795  | 169189   | 328631                                   |
| 2021 | económicos  | 729044                 | 3443061                  | 6451580                                    | 2185914                 | 543586                                  | 161768            | 571232    | 3122114 | 111496   | 36798                                    |
| 2021 | físicos     | 12132                  | 29129                    | 603867                                     | 29491                   | 5530                                     | 418372            | 102678    | 12324   | 1192138  | 54996                                    |
| 2021 | emocionales | 121502                 | 223914                   | 3533384                                    | 629696                  | 73164                                    | 3837964           | 6119188   | 347180  | 937157   | 1341074                                  |
| 2021 | laborales   | 16932                  | 14422                    | 84112                                      | 14480                   | 3277                                     | 84318             | 88782     | 32164   | 11328    | 22533                                    |
| 2021 | ninguno     | 52556                  | 201720                   | 789733                                     | 624057                  | 18755                                    | 2061314           | 5301079   | 473201  | 191032   | 439691                                   |

```python
danios_no_tidy = pd.read_csv("danios_no_tidy.csv",encoding="latin1")

(
danios_no_tidy >> 
    group_by(_.daño) >> 
    summarize(Robo_total_de_vehículo = _.Robo_total_de_vehículo.sum(),
              Robo_parcial_de_vehículo = _.Robo_parcial_de_vehículo.sum(),
              Robo_o_asalto_en_calle_o_transporte_público = _.Robo_o_asalto_en_calle_o_transporte_público.sum(),
              Robo_en_forma_distinta_a_las_anteriores = _.Robo_en_forma_distinta_a_las_anteriores.sum(),
              Amenazas_verbales = _.Amenazas_verbales.sum(),
              Extorsión = _.Extorsión.sum(),
              Fraude = _.Fraude.sum(),
              Lesiones = _.Lesiones.sum(),
              Otros_delitos_distintos_a_los_anteriores = _.Otros_delitos_distintos_a_los_anteriores.sum()
              )
)
```

In [ ]:
danios_no_tidy = pd.read_csv("C:\\Users\\Usuario\\Documents\\scidata\\24_cdd_py\\practicas\\envipe\\danios_no_tidy.csv",
                             encoding="latin1")

danios_no_tidy

In [ ]:
danios_no_tidy >> group_by(_.daño) >> summarize(Robo_total_de_vehículo = _.Robo_total_de_vehículo.sum(),
                                                Robo_parcial_de_vehículo = _.Robo_parcial_de_vehículo.sum(),
                                                Robo_o_asalto_en_calle_o_transporte_público = _.Robo_o_asalto_en_calle_o_transporte_público.sum(),
                                                Robo_en_forma_distinta_a_las_anteriores = _.Robo_en_forma_distinta_a_las_anteriores.sum(),
                                                Amenazas_verbales = _.Amenazas_verbales.sum(),
                                                Extorsión = _.Extorsión.sum(),
                                                Fraude = _.Fraude.sum(),
                                                Lesiones = _.Lesiones.sum(),
                                                Otros_delitos_distintos_a_los_anteriores = _.Otros_delitos_distintos_a_los_anteriores.sum()
                                                )

La manera en que vienen presentadas las tablas **medallero_olimpico_no_tidy.csv** y **danios_no_tidy.csv** es lo que se conoce como formato gordo, formato desordenado o formato no tidy.

En general, este tipo de formato no es compatible con la filosofía de siuba, donde es preferible tener tablas *largas* u *ordenadas*, o lo que se conoce como **formato tidy**:

| país           | año | sexo    | medallas |
|----------------|-----|---------|----------|
| Estados Unidos | 2008 | mujeres | 48       |
| Estados Unidos | 2008 | hombres | 36       |
| China          | 2008 | mujeres | 34       |
| China          | 2008 | hombres | 38       |
| Gran Bretaña   | 2008 | mujeres | 25       |
| Gran Bretaña   | 2008 | hombres | 19       |
| Estados Unidos | 2012 | mujeres | 58       |
| Estados Unidos | 2012 | hombres | 46       |
| China          | 2012 | mujeres | 38       |
| China          | 2012 | hombres | 27       |
| Gran Bretaña   | 2012 | mujeres | 29       |
| Gran Bretaña   | 2012 | hombres | 17       |
| Estados Unidos | 2016 | mujeres | 61       |
| Estados Unidos | 2016 | hombres | 60       |
| China          | 2016 | mujeres | 26       |
| China          | 2016 | hombres | 18       |
| Gran Bretaña   | 2016 | mujeres | 27       |
| Gran Bretaña   | 2016 | hombres | 23       |
| Estados Unidos | 2020 | mujeres | 66       |
| Estados Unidos | 2020 | hombres | 47       |
| China          | 2020 | mujeres | 37       |
| China          | 2020 | hombres | 32       |
| Gran Bretaña   | 2020 | mujeres | 38       |
| Gran Bretaña   | 2020 | hombres | 26       |

Y ahora, aunque la tabla es más difícil de leer para nosotros, está mucho más organizada para hacer analizarla. La puedes encontrar en nuestro repositorio de datos con el nombre de **medallero_olimpico_ordenado.csv**

```python

medallero_tidy = pd.read_csv("medallero_olimpico_tidy.csv")

(
medallero_tidy >> 
    group_by(_.pais,_.sexo) >> 
    summarize(total = _.medallas.sum())
)
```

In [ ]:
medallero_ordenado = pd.read_csv("C:\\Users\\Usuario\\Documents\\scidata\\24_cdd_py\\practicas\\medallero\\medallero_olimpico_tidy.csv",
                             encoding="latin1")

(
medallero_ordenado >> 
    group_by(_.pais,_.sexo) >> 
    summarize(total = _.medallas.sum())
)

Ahora bien, en caso de estar en la situación de tener una tabla en formato ancho nos va a interesar pasar a formato largo.

Contamos con las función ``pd.melt`` que tiene la siguiente sintaxis:

```python
################################################################
#######    En Python     #######################################
################################################################

import pandas as pd

pd.melt(frame=tabla, #es la tabla no ordenada
     id_vars=["col1","col2",...],  #columnas que quieres mantener
     value_vars=["col3","col4",...], #columnas que quieres ordenar
     var_name="variable", #nombre de la nueva columna donde se colocarán los nombres de las columnas antiguas   
     value_name="value") #nombre de la nueva columna donde se colocarán los valores correspondientes a las columnas antiguas   
```

Por lo tanto, en nuestro caso particular del medallero olímpico desordenado tenemos:

```python
medallero_tidy = pd.melt(frame=medallero_no_tidy, 
                         id_vars=["pais", "anio"], 
                         value_vars=["hombres", "mujeres"], 
                         var_name="sexo", 
                         value_name="medallas")
```

In [ ]:
medallero_tidy = pd.melt(frame=medallero_no_tidy, 
                         id_vars=["pais", "anio"], 
                         value_vars=["hombres", "mujeres"], 
                         var_name="sexo", 
                         value_name="medallas")

medallero_tidy

Ahora bien, cuando tenemos una tabla en formato no tidy y la transformamos en tidy, los resultados de los summarize suelen presentarse en formato tidy, que como ya sabemos, no es cómodo para nosotros como personas al leer.

Es por eso que existe el proceso inverso: convertir de tabla tidy a no tidy con las funciones ``pd.pivot()`` y ``pd.pivot_table()``.

* ``pd.pivot``: Se utiliza para pivotar un DataFrame cuando no hay duplicados en el índice para las combinaciones de las columnas a pivotar.

* ``pd.pivot_table``: Es una versión más flexible que permite agregar datos cuando hay duplicados en el índice.

```python
################################################################
#######    En Python     #######################################
################################################################

tabla.pivot(index=["col1","col2",...], # Las columnas que se mantendrán como índice en el DataFrame resultante
            columns="col", # columna que quieres expandir como encabezados de columnas en el DataFrame ancho. 
            values="col", # columna cuyos valores deseas distribuir en la tabla pivotada.
           )   

tabla.pivot_table(index=["col1","col2",...], # Las columnas que se mantendrán como índice en el DataFrame resultante
            columns="col", # columna que quieres expandir como encabezados de columnas en el DataFrame ancho. 
            values="col", # columna cuyos valores deseas distribuir en la tabla pivotada.
           )   
```

In [ ]:
tabla = pd.DataFrame({
    'Store': ['Store_A', 'Store_A', 'Store_B', 'Store_B'],
    'Product': ['Product_1', 'Product_2', 'Product_1', 'Product_2'],
    'Q1_Sales': [150, 200, 130, 220],
    'Q2_Sales': [180, 210, 160, 230],
    'Q3_Sales': [170, 190, 140, 250],
    'Q4_Sales': [200, 220, 150, 240],
})

tabla

In [ ]:
tabla_tidy = pd.melt(frame = tabla, 
                     id_vars = ['Store', 'Product'], 
                     value_vars = ['Q1_Sales', 'Q2_Sales', 'Q3_Sales', 'Q4_Sales'],
                     var_name = 'Quarter', 
                     value_name = 'Sales')
tabla_tidy

In [ ]:
tabla_no_tidy = tabla_tidy.pivot(index=['Store', 'Product'],
                                 columns='Quarter', 
                                 values='Sales')

tabla_no_tidy

In [ ]:
tabla_no_tidy.reset_index()